<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../../public/img/pic.jpg"/>
        <body>
            <title>About</title>
            <link rel="stylesheet" href="./css/styles.css"> 
            <script src="./js/app.js"></script>
            </head>
            <div class="main-content">{{>header}}</div>
            <p>This page uses mapbox and darksky.net</p>
            
            <img src="../../public/img/pic.jpg"/>
         {{>footer}}
        </body>    
</html>