<!DOCTYPE html>
<html>
    <head>
       <link rel="icon" href="../../public/img/pic.jpg"/>
            <link rel="stylesheet" href="./css/styles.css"> 
            </head>
        <body>
            <title>error </title>
          {{>headerError}}
            {{>footerError}}
           
        </body>
    
</html>