<!DOCTYPE html>
<html>
    <head>
       <link rel="icon" href="../../public/img/pic.jpg"/>
            <link rel="stylesheet" href="./css/styles.css"> 
            </head>
        <body>
          <title>help</title>
          <div class="main-content">  {{>header}}</div>
        
            <h1>
              Help By: {{>footer}}
            </h1>
        </body>
    
</html>